<header role="banner">
     
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand absolute" href="/">OIKEN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link <%= page_name === 'index' && 'active' %>" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link <%= page_name === 'courses' && 'active' %>" href="/courses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= page_name === 'blogs' && 'active' %>" href="/blogs">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= page_name === 'about' && 'active' %>" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= page_name === 'contact' && 'active' %>" href="/contact">Contact</a>
            </li>
          </ul>
          <% if(!userIN) { %>
          <ul class="navbar-nav absolute-right">
            <li>
              <a href="/login">Login</a> / <a href="/register">Register</a>
            </li>
          </ul>
          <% } %>
          <% if(userIN) { %>
            <ul class="navbar-nav absolute-right">
              <li>
                <a href="/login">Profile</a> / <a href="/register">Sign Out</a>
              </li>
            </ul>
            <% } %>
          
        </div>
      </div>
    </nav>
  </header>