<%- include('partials/_head') -%> <%- include('partials/_nav') -%>

<section
  class="site-hero site-sm-hero overlay"
  style="background-image: url(/images/big_image_2.jpg); min-height: 350px;">
  <div class="container">
    <div
      class="row align-items-center justify-content-center site-hero-sm-inner"
      style="min-height: 350px;"
    >
    <div class="col-md-7 text-center">
      <div class="element-animate">
        <h1 class="mb-2">Courses</h1>
        <p class="bcrumb">
          <a href="/">Home</a>
          <span class="sep ion-android-arrow-dropright px-2"></span>
          <span class="current">Courses</span>
        </p>
      </div>
      <div class="mb-5 element-animate">
        <div class="block-17">
          <form action="/courses" method="GET" class="d-block d-lg-flex mb-4">
            <div class="fields d-block d-lg-flex">
                <input
                  type="text"
                  class="form-control"
                  name="search"
                  placeholder="Search..."
                />
            </div>
            <input
              type="submit"
              class="search-submit btn btn-primary"
              value="Search"
            />
          </form>
          <p class="text-center mb-5">
            We have cool courses to improve your skills
          </p>
        </div>
      </div>
    </div>
    <!---->
      
    </div>
  </div>
</section>
<!-- END section -->

<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-8 order-md-2">
        <div class="row">
          <% for (let i=0; i < courses.length; i++) { %>
            <% if (courses[i].publish == true) { %>

          <div class="col-md-12 col-lg-6 mb-5">
            <div class="block-19">
              <figure>
                <a href="/courses/course/<%= courses[i].slug %>"
                  ><img src="<%= courses[i].image != null && courses[i].image || '/images/img_1.jpg' %>" alt="Image" class="img-fluid"
                /></a>
              </figure>
              <div class="text">
                <h2 class="heading">
                  <a href="/courses/course/<%= courses[i].slug %>"
                    ><%= courses[i].name.substring(0, 50) %></a
                  >
                </h2>
                <p class="mb-4">
                  <%= courses[i].description.substring(0, 100) %>...
                </p>
                <div class="meta d-flex align-items-center">
                  <div class="number">
                    <span>by <%= courses[i].author.username.substring(0, 50) %></span>
                  </div>
                  <div class="price text-right">
                      <span><%= courses[i].category.name %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% } %>
          <% } %>
        </div>

        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <div class="block-27">
              <% if (pages > 0 ) { %>
                <ul>
                    <% if (current == 1) { %>
                        <li class="disabled" style="visibility: hidden;"><a>First</a></li>
                    <% } else { %>
                        <li><a href="?page=1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="?page=<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled" style="visibility: hidden;"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="?page=<%= i-1 %>">Last</a></li>
                    <% } %>
                </ul>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <!-- END content -->
      <div class="col-md-6 col-lg-4 order-md-1">
        <%- include('partials/_categories') -%> <%- include('partials/_recent')
        -%>
      </div>
      <!-- END Sidebar -->
    </div>
  </div>
</div>

<%- include('partials/_subscribe') -%> <%- include('partials/_footer') -%>
