<%- include('partials/_head') -%> <%- include('partials/_nav') -%>
<section
  class="site-hero site-sm-hero overlay"
  style="background-image: url(/images/big_image_2.jpg); min-height: 350px"
>
  <div class="container">
    <div
      class="row align-items-center justify-content-center site-hero-sm-inner"
      style="min-height: 350px"
    >
      <div class="col-md-7 text-center">
        <div class="mb-5 element-animate">
          <h1 class="mb-2"><%= course.name %></h1>
          <p class="bcrumb">
            <a href="index">Home</a>
            <span class="sep ion-android-arrow-dropright px-2"></span>
            <a href="/courses">Courses</a>
            <span class="sep ion-android-arrow-dropright px-2"></span>
            <span class="current"> <%= course.name %> </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="site-section bg-light element-animate">
  <div class="container" style="max-width: 100%">
    <div class="row">
      <div class="col-md-6 col-lg-4 order-md-1">
        <div class="block-29 mb-5 episodes tab">
          <div class="row align-items-center p-4 episode">
            <div class="col-md-12">
              <h5>
                <button
                  class="tablinks btn btn-primary rounded-0 text-white col-12"
                  onclick="openTab(event, 'info')"
                  id="defaultOpen"
                >
                  Course Details
                </button>
              </h5>
            </div>
          </div>
          <% if (user) { %>

            

            <% if( user && (user.courses.includes(course._id)) || course.author._id == user._id ) { %>
          <% for (let i = 0; i < coursee.module.length; i++) { %>

          <div class="row align-items-center p-4 episode">
            <div class="col-md-12">
              <h5>
                <button
                  class="tablinks btn btn-primary rounded-0 text-white col-12"
                  onclick="openTab(event, <%= i %>)"
                  style="white-space: normal"
                >
                  <%= coursee.module[i].title %>
                </button>
              </h5>
            </div>
            <!-- <div class="col-md-2 text-center">
              <a
                href="#"
                class="play"
                style="background-color: red"
                ><span class="ion-android-cancel"></span
              ></a>
            </div> -->
          </div>
          <% } %>
          <% } %>
          <% } %>

          <!-- add module -->

          <div class="row align-items-center p-4 episode">
            <div class="col-md-2 text-center">
                <% if (user && !(user.courses.includes(course._id))) { %>
                    <form action="/courses/enroll" method="POST">
                      <input
                        type="hidden"
                        name="course_id"
                        value="<%= course._id %>"
                      />
                      <button class="btn btn-primary reverse py-2 px-4" name="enroll">
                        ENROLL
                      </button>
                    </form>
                    <% } else if(user && (user.courses.includes(course._id))) { %>
                    <form action="/courses/leave" method="POST">
                      <input
                        type="hidden"
                        name="course_id"
                        value="<%= course._id %>"
                      />
                      <button class="btn btn-primary btn-danger reverse py-2 px-4">
                        LEAVE COURSE
                      </button>
                    </form>
                    <% } %>
            </div>

            <!-- END add module -->
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-8 order-md-2 mb-5">
        <div id="info" class="tabcontent">
          <!-- course details -->

          <div class="block-28 text-center mb-5">
            <figure>
              <img
                src="<%= course.image != null && course.image || '/images/img_1.jpg' %>"
                alt=""
                class="img-fluid"
              />
            </figure>

            <h2 class="heading"><%= coursee.author.username %></h2>
            <h3 class="subheading">Course Author</h3>
            <div class="tab-pane active" id="Login">
                <!---->
                <h2><%= coursee.name %></h2>
                <p><%= coursee.description %></p>

                <% if(!user) { %>
                  <h3>In order to take the course you need to <a href="/login">log in</a></h3>
                <% } %>





                <!---->
            </div>
          </div>

          <!-- END course details -->
        </div>
        <% for (let i = 0; i < coursee.module.length; i++) { %>
        <div id="<%= i %>" class="tabcontent">
          <h3><%= coursee.module[i].title %></h3>
          <%- coursee.module[i].cont %>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <script>
    function openTab(evt, tabID) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabID).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>
    <%- include('partials/_subscribe') -%>
  <%- include('partials/_footer') -%>
</div>