<%- include('partials/_head') -%> <%- include('partials/_nav') -%>
<script
  src="https://cdn.tiny.cloud/1/4eocovha1twy2gwmmii6eqwwdp37lx2wouq3rg6d8d0phent/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"
></script>

<section
  class="site-hero site-sm-hero overlay"
  style="background-image: url(/images/big_image_2.jpg); min-height: 350px"
>
  <div class="container">
    <div
      class="row align-items-center justify-content-center site-hero-sm-inner"
      style="min-height: 350px"
    >
      <div class="col-md-7 text-center">
        <div class="mb-5 element-animate">
          <h1 class="mb-2"><%= course.name %></h1>
          <p class="bcrumb">
            <a href="index">Home</a>
            <span class="sep ion-android-arrow-dropright px-2"></span>
            <a href="/courses">Profile</a>
            <span class="sep ion-android-arrow-dropright px-2"></span>
            <span class="current"> <%= course.name %> </span>
          </p>
        </div>
        <% if (flashMessages) { %> <% if (flashMessages.success) { %>
        <div class="alert alert-success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) {%>
        <div class="alert alert-danger"><%= flashMessages.error %></div>
        <% } %> <% } %> <% if(course.publish == false) { %>
        <form
          method="POST"
          action="/courses/course/<%= course.slug %>?_method=PUT"
        >
          <input type="hidden" name="publish" value="true" />
          <button type="submit" class="btn btn-primary">PUBLISH</button>
        </form>
        <% } else { %>
        <form
          method="POST"
          action="/courses/course/<%= course.slug %>?_method=PUT"
        >
          <input type="hidden" name="publish" value="false" />
          <button type="submit" class="btn btn-primary">UNPUBLISH</button>
        </form>
        <% } %>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<div class="site-section bg-light element-animate">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6 col-lg-8 order-md-2 mb-5">
        <!-- COURSE MODULES -->


        
        <% for (let i = 0; i < coursee.module.length; i++) { %>
        <section class="episodes modal" id="updateCourse<%= coursee.module[i]._id %>" tabindex="-1">
          
          <form method="POST" action="/courses/update/<%= coursee.module[i]._id %>?_method=PUT">
            <input
              type="hidden"
              name="course_id"
              value="<%= course._id %>"
              class="form-control"
            />
            <label for="title">Module Title</label>
            <input type="text" name="title" class="form-control" value="<%= coursee.module[i].title %>" />
            <br>
            <label for="cont">Module Content</label>
            <textarea
              class="full-featured"
              name="cont"
              rows="28"
              class="form-control"
            > <%= coursee.module[i].cont %>
            </textarea>
            <div class="row" style="padding-top: 20px">
              <div class="col-lg-12 text-left">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>
          
          <script>
            tinymce.init({
              selector: ".full-featured",
              plugins:
                "a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker",
              toolbar:
                "a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table",
              toolbar_mode: "floating",
              tinycomments_mode: "embedded",
              tinycomments_author: "Author name",
            });
          </script>
        </section>
        <% } %>
      </div>

      <!-- END COURSE MODULES -->

      <!-- COURSE DETAILS -->
      <div class="col-md-6 col-lg-4 order-md-1">
        <div class="block-29 mb-5 episodes">
          <% for (let i = 0; i < coursee.module.length; i++ ) { %>

          <div class="row align-items-center p-4 episode">
            <div class="col-md-10">
              <h5>

                <button type="menu" class="btn btn-primary rounded-0 text-white col-12"
												data-toggle="modal" data-target="#updateCourse<%= coursee.module[i]._id %>"
												><span><%= coursee.module[i].title %></span></button>
              </h5>
            </div>
            <div class="col-md-2 text-center">
              <a
                href="/courses/delete/<%= coursee.module[i]._id %>?_method=DELETE"
                onclick="return confirm('ARE YOU SURE?')"
                class="play" style="background-color: red;"
                ><span class="ion-android-cancel"></span
              ></a>
            </div>
          </div>

          <% } %>
          <div class="row align-items-center p-4 episode">
            <div class="col-md-2 text-center">
              <form method="POST" action="/courses/create/<%= course.slug %>">
                <input
                  type="hidden"
                  name="course_id"
                  value="<%= course._id %>"
                  class="form-control"
                />
                <div class="row" style="padding-top: 20px">
                  <div class="col-lg-12 text-left">
                    <button type="submit" class="btn btn-primary">
                      <span class="ion-android-add"></span> Add Module
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="block-28 text-center mb-5">
          <figure>
            <img src="<%= course.image != null && course.image || '/images/img_1.jpg' %>" alt="" class="img-fluid" />
          </figure>

          
          <h2 class="heading"><%= coursee.author.username %></h2>
          <h3 class="subheading">Course Author</h3>
          <div class="tab-pane active" id="Login">
            <form
              role="form"
              class="form-horizontal"
              method="POST"
              action="/courses/course/<%= course.slug %>?_method=PUT"
              encType="multipart/form-data"
            >
            <div class="form-group">
              <div class="col-sm-12">
                <label for="image">Update Image</label>
                <input type="file" name="image" class="form-control-file" placeholder="Image">
              </div>
            </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="name">Course Name</label>
                  <input
                    type="text"
                    name="name"
                    maxlength="30"
                    class="form-control"
                    placeholder="Course Name"
                    value="<%= course.name %>"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="description">Description</label>
                  <textarea
                    rows="12"
                    name="description"
                    maxlength="200"
                    class="form-control"
                    placeholder="Description"
                    required
                  ><%= course.description %>"</textarea
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <select name="category" required>
                    <option
                      value="<%= course.category %>"
                      selected
                      disabled
                      hidden
                    >
                      Choose Course Category
                    </option>
                    <% for (let i=0;i < categories.length; i++) { %>
                    <option value="<%= categories[i]._id %>">
                      <%= categories[i].name %>
                    </option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button
                    type="submit"
                    class="btn btn-primary reverse py-2 px-4"
                  >
                    Update
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        
      </div>
      <!-- END COURSE DETAILS -->
    </div>
  </div>
</div>

<%- include('partials/_subscribe') -%> <%- include('partials/_footer') -%>
