<%- include('partials/_head') -%> <%- include('partials/_nav') -%> <% if(user) {
%>
<section
  class="site-hero site-sm-hero overlay"
  style="background-image: url(/images/big_image_2.jpg); min-height: 350px"
>
  <div class="container">
    <div
      class="row align-items-center justify-content-center site-hero-sm-inner"
      style="min-height: 350px"
    >
      <div class="col-md-7 text-center">
        <div class="mb-5 element-animate">
          <h1 class="mb-2">
            <% if(user.role==='student' ) { %><%= user.username %> <% } else if
            (user.role==='teacher' ) { %><%= user.username %> <% } else
            if(user.role==='admin' ) { %><%= user.username %> <% } %>
          </h1>
          <p class="bcrumb">
            <a href="/">Home</a>
            <span class="sep ion-android-arrow-dropright px-2"></span>
            <span class="current">Profile</span>
          </p>
        </div>
        <% if (flashMessages) { %> <% if (flashMessages.success) { %>
        <div class="alert alert-success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) {%>
        <div class="alert alert-danger"><%= flashMessages.error %></div>
        <% } %> <% } %>
      </div>
    </div>
  </div>
</section>
<% if(user.role==='student' ) { %>
<!-- STUDENT -->

<% if(user.courses.length > 0) { %>
<div class="site-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 element-animate">
      <div class="col-md-7 text-center section-heading">
        <h2 class="text-primary heading">Enrolled Courses</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid block-11 element-animate">
    <div class="nonloop-block-11 owl-carousel">
      <% for(let i = 0; i < user.courses.length; i++) { %>
      <div class="item">
        <div class="block-19">
          <figure>
            <img src="<%= courses[i].image != null && courses[i].image || '/images/img_1.jpg' %>" alt="Image" class="img-fluid" />
          </figure>
          <div class="text">
            <h2 class="heading">
              <a href="/courses/course/<%= user.courses[i].slug  %>">
                <%= user.courses[i].name %>
              </a>
            </h2>
            <p class="mb-4"><%= user.courses[i].description %> ...</p>
          </div>
          <div class="col-lg-12 text-center">
            <form action="/courses/leave" method="POST">
              <input
                type="hidden"
                name="course_id"
                value="<%= user.courses[i]._id %>"
              />
              <button
                type="submit"
                name="leave"
                class="btn btn-primary btn-danger reverse py-2 px-4"
                onclick="return confirm('ARE YOU SURE?')"
              >
                LEAVE
              </button>
            </form>
            <br /><br />
          </div>
        </div>
      </div>
      <% i++ } %>
    </div>
  </div>
  <% } else { %>
  <div class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-7 text-center section-heading">
          <h2 class="text-primary heading">You have not enrolled in courses</h2>
        </div>
      </div>
    </div>
    <% }%>
    <!-- END section -->

    <!-- END STUDENT -->
    <% } else if (user.role==='teacher' ) { %>
    <!-- TEACHER -->

    <% if(courses.length > 0) { %>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-7 text-center section-heading">
            <h2 class="text-primary heading">Your Courses</h2>
          </div>
        </div>
      </div>
      <div class="container-fluid block-11 element-animate">
        <div class="nonloop-block-11 owl-carousel">
          <% let i=0; while(i < courses.length) { %>
          <div class="item">
            <div class="block-19">
              <figure>
                <img src="<%= courses[i].image != null && courses[i].image || '/images/img_1.jpg' %>" alt="Image" class="img-fluid" />
              </figure>
              <div class="text">
                <h2 class="heading">
                  <a href="/courses/course/<%= courses[i].slug  %>">
                    <%= courses[i].name %>
                  </a>
                </h2>
                <p class="mb-4">
                  <%= courses[i].description.substring(0, 100) %> ...
                </p>
              </div>
              <div class="col-lg-12 text-center">
                <a href="/users/create/<%= courses[i].slug %>"
                  ><button
                    class="btn btn-primary btn-warning reverse py-2 px-4"
                  >
                    Edit
                  </button></a
                >
                <a href="/courses/<%= courses[i].slug %>?_method=DELETE"
                  ><button
                    class="btn btn-primary btn-danger reverse py-2 px-4"
                    onclick="return confirm('ARE YOU SURE?')"
                  >
                    Delete
                  </button></a
                >
                <br /><br />
              </div>
            </div>
          </div>
          <% i++ } %>
        </div>
      </div>
      <% } else { %>
      <div class="site-section bg-light">
        <div class="container">
          <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-7 text-center section-heading">
              <h2 class="text-primary heading">You have no courses to teach</h2>
            </div>
          </div>
        </div>
        <% }%>
        <!-- END section -->

        <!-- CREATE NEW COURSE -->
        <br /><br />
        <div class="col-lg-12 text-center">
          <p>
            <a
              href="#"
              data-toggle="modal"
              data-target="#addCourse"
              class="btn btn-primary submit"
              ><span class="ion-ios-book mr-2"></span>Create New Course</a
            >
          </p>
        </div>
      </div>
      <!-- END - CREATE NEW COURSE -->

      <!-- Modal -->
      <div
        class="modal fade"
        id="addCourse"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-lg"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-body customer-box">
              <h2>Create New Course</h2>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="Login">
                  <form
                    role="form"
                    class="form-horizontal"
                    method="POST"
                    action="/courses/new/"
                    encType="multipart/form-data"
                  >
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input
                          type="hidden"
                          name="role"
                          value="<%= user.role %>"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input
                          type="hidden"
                          name="author"
                          value="<%= user._id %>"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input
                          type="text"
                          name="name"
                          maxlength="30"
                          class="form-control"
                          placeholder="Course Name"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <textarea
                          rows="8"
                          name="description"
                          maxlength="200"
                          class="form-control"
                          placeholder="Description"
                          required
                        ></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <select name="category" required>
                          <option value="" selected disabled hidden>
                            Choose Course Category
                          </option>
                          <% for (let i=0;i < categories.length; i++) { %>
                          <option value="<%= categories[i]._id %>">
                            <%= categories[i].name %>
                          </option>
                          <% } %>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="file" name="image" class="form-control-file" placeholder="Image">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <button
                          type="submit"
                          class="btn btn-primary btn-success reverse py-2 px-4"
                        >
                          Submit
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary btn-warning reverse py-2 px-4"
                          data-dismiss="modal"
                          aria-hidden="true"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END - Modal -->






      <!-- ENROLLED COURSES -->
      <% if(user.courses.length > 0) { %>
        <div class="site-section bg-light">
          <div class="container">
            <div class="row justify-content-center mb-5 element-animate">
              <div class="col-md-7 text-center section-heading">
                <h2 class="text-primary heading">Enrolled Courses</h2>
              </div>
            </div>
          </div>
          <div class="container-fluid block-11 element-animate">
            <div class="nonloop-block-11 owl-carousel">
              <% for(let i = 0; i < user.courses.length; i++) { %>
              <div class="item">
                <div class="block-19">
                  <figure>
                    <img src="<%= courses[i].image != null && courses[i].image || '/images/img_1.jpg' %>" alt="Image" class="img-fluid" />
                  </figure>
                  <div class="text">
                    <h2 class="heading">
                      <a href="/courses/course/<%= user.courses[i].slug  %>">
                        <%= user.courses[i].name %>
                      </a>
                    </h2>
                    <p class="mb-4"><%= user.courses[i].description %> ...</p>
                  </div>
                  <div class="col-lg-12 text-center">
                    <form action="/courses/leave" method="POST">
                      <input
                        type="hidden"
                        name="course_id"
                        value="<%= user.courses[i]._id %>"
                      />
                      <button
                        type="submit"
                        name="leave"
                        class="btn btn-primary btn-danger reverse py-2 px-4"
                        onclick="return confirm('ARE YOU SURE?')"
                      >
                        LEAVE
                      </button>
                    </form>
                    <br /><br />
                  </div>
                </div>
              </div>
              <% i++ } %>
            </div>
          </div>
          <% } else { %>
          <div class="site-section bg-light">
            <div class="container">
              <div class="row justify-content-center mb-5 element-animate">
                <div class="col-md-7 text-center section-heading">
                  <h2 class="text-primary heading">You have not enrolled in courses</h2>
                </div>
              </div>
            </div>
            <% }%>

      <!-- END TEACHER -->
      <!-- ADMIN -->

      <% } %> <% if(user.role==='admin' ) { %>

      <div class="container" style="padding-top: 50px;">
        <div class="row justify-content-center mb-5 element-animate">
          <table class="table">
            <div class="col-lg-12 text-center">
              <p>
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#addCategory"
                  class="btn btn-primary submit"
                  ><span class="ion-ios-book mr-2"></span>Add Category</a
                >
              </p>
            </div>
            <thead>
              <h2>Categories</h2>
              <tr>
                <th scope="col">_id</th>
                <th scope="col">name</th>
                <th scope="col">delete</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < categories.length; i++) { %>
              <tr>
                <th scope="row"><%= categories[i]._id %></th>
                <td><%= categories[i].name %></td>
                <td>
                  <a href="/categories/<%= categories[i]._id %>?_method=DELETE"
                    ><button
                      onclick="return confirm('ARE YOU SURE?')"
                      class="btn btn-primary"
                    >
                      delete
                    </button></a
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>

        <div class="row justify-content-center mb-5 element-animate">
          <table class="table">
            <thead>
              <h2>Users</h2>
              <tr>
                <th scope="col">_id</th>
                <th scope="col">username</th>
                <th scope="col">email</th>
                <th scope="col">role</th>
                <th scope="col">delete</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < users.length; i++) { %>
              <tr>
                <th scope="row"><%= users[i]._id %></th>
                <td><%= users[i].username %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].role %></td>
                <td>
                  <a href="/users/<%= users[i]._id %>?_method=DELETE"
                    ><button
                      onclick="return confirm('ARE YOU SURE?')"
                      class="btn btn-primary"
                    >
                      delete
                    </button></a
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>

        <!-- pagination -->
        <div class="row mb-5">
          <div class="col-md-12 text-center">
            <div class="block-27">
              <% if (pages > 0 ) { %>
              <ul>
                <% if (current == 1) { %>
                <li class="disabled" style="visibility: hidden">
                  <a>First</a>
                </li>
                <% } else { %>
                <li><a href="?page=1">First</a></li>
                <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 :
                1) %> <% if (i !== 1) { %>
                <li class="disabled"><a>...</a></li>
                <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++)
                { %> <% if (i == current) { %>
                <li class="active"><a><%= i %></a></li>
                <% } else { %>
                <li><a href="?page=<%= i %>"><%= i %></a></li>
                <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="disabled"><a>...</a></li>
                <% } %> <% } %> <% if (current == pages) { %>
                <li class="disabled" style="visibility: hidden"><a>Last</a></li>
                <% } else { %>
                <li><a href="?page=<%= i-1 %>">Last</a></li>
                <% } %>
              </ul>
              <% } %>
            </div>
          </div>
        </div>
        <!-- END - pagination -->
      </div>


      <!-- Modal -->
      <div
        class="modal fade"
        id="addCategory"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-lg"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-body customer-box">
              <h2>Add Category</h2>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="Categories">
                  <form
                    role="form"
                    class="form-horizontal"
                    method="POST"
                    action="/categories"
                  >
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input
                          type="text"
                          name="name"
                          maxlength="30"
                          class="form-control"
                          placeholder="Category Name"
                          required
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <button
                          type="submit"
                          class="btn btn-primary btn-success reverse py-2 px-4"
                        >
                          Submit
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary btn-warning reverse py-2 px-4"
                          data-dismiss="modal"
                          aria-hidden="true"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END - Modal -->

      <% } %> <% } %>
      <!-- END ADMIN -->

      <%- include('partials/_subscribe') -%> <%-include('partials/_footer') -%>
